<div class="container">
    <div class="header">
        <div class="heading">
            <h1>FROM <span> FACTORY</span> </h1>
            <h1>TO <span> STORE </span></h1>
            <h1>TO <span> OUT THE DOOR. </span></h1>
            <h2> ABC Creations offers <span>international end-to-end apparel</span>
	manufacturing solutions for foward-thinking clothing brands.</h2>
            <div class="buttons">
                <h3 style="margin-left: 0"> OUR PROCESS  </h3>
                <h3> OUR PRODUCTS </h3>
            </div>
            <span id="arrow"></span>
            <span id="arrowHead"></span>
        </div>
    </div>
</div>